@keyframes MoveFromLeft {
  0% {
    opacity: 30%;
    transform: translate(-10%); }
  85% {
    transform: translate(3%); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes MoveFromRight {
  0% {
    opacity: 30%;
    transform: translate(10%); }
  85% {
    transform: translate(-3%); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes MoveUp {
  0% {
    opacity: 0%;
    transform: translateY(5rem); }
  85% {
    opacity: 85%;
    transform: translateY(-1rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }
  @media (max-width: 75em) {
    html {
      font-size: 9px; } }
  @media (min-width: tab-land) {
    html {
      font-size: 9px; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 8px; } }
  @media (min-width: tab-port) {
    html {
      font-size: 8px; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 12px; } }

body {
  font-family: 'Lato', sans-serif;
  padding: 3rem;
  color: #4e4e4e;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }
  @media (min-width: tab-port) {
    body {
      padding: 0; } }

::selection {
  background-color: #38b138;
  color: #fff; }

.heading-box {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem; }
  .heading-box .heading--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: MoveFromLeft;
    animation-duration: 1s;
    /*
        animation-timing-function: ease-out;
        animation-delay: 1s;
        animation-iteration-count: 2;
        */ }
    @media (max-width: 37.5em) {
      .heading-box .heading--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
    @media (min-width: phone) {
      .heading-box .heading--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-box .heading--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation-name: MoveFromRight;
    animation-duration: 1s; }
    @media (max-width: 37.5em) {
      .heading-box .heading--sub {
        letter-spacing: .5rem; } }
    @media (min-width: phone) {
      .heading-box .heading--sub {
        letter-spacing: .5rem; } }

.section-heading {
  background-image: linear-gradient(to right, #38b138, #047a39);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .section-heading {
      font-size: 3rem; } }
  @media (min-width: tab-port) {
    .section-heading {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .section-heading {
      font-size: 2.5rem; } }
  @media (min-width: phone) {
    .section-heading {
      font-size: 2.5rem; } }
  .section-heading:hover {
    transform: skew(9deg, 2deg) scale(1.05);
    letter-spacing: 0.5rem;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.util-center-text {
  text-align: center; }

.util-margn-btm-big {
  margin-bottom: 6rem; }

.util-margn-btm-med {
  margin-bottom: 4rem; }

.util-margn-top-med {
  margin-top: 4rem; }

.util-margn-btm-sml {
  margin-bottom: 2rem; }

.util-unskew {
  transform: skewY(7deg); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  opacity: 0.25; }
  .bg-video__background {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none; }

.btn--animated {
  animation: MoveUp 1s 0.5s;
  animation-fill-mode: backwards; }

.btn--white {
  color: #4e4e4e;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #38b138; }
  .btn--green::after {
    background-color: #38b138; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.267); }
  .btn:hover::after {
    transform: scaleX(1.7) scaleY(1.4);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translate(-0.2rem);
  box-shadow: 0 0.8rem 0.4rem rgba(0, 0, 0, 0.267);
  outline: none; }

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.5s; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  transition: all .3s;
  color: #047a39;
  font-size: 1.5rem;
  border-bottom: 1px solid #047a39; }

.btn-text:hover {
  background-color: #047a39;
  color: #fff;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.267);
  transform: translateY(-0.5rem); }

.btn-text:active {
  box-shadow: 0.2rem 0.2rem 5rem rgba(0, 0, 0, 0.267);
  transform: translateY(0.1rem); }

.btn-text span {
  font-size: 25px; }

.card {
  perspective: 1500px;
  -moz-perspective: 1500px;
  position: relative;
  height: 50rem;
  color: #fff; }
  .card__side {
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    font-size: 2rem;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 0.2rem 2rem 4rem rgba(0, 0, 0, 0.5); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to bottom right, #d48b1e, #dd382c); }
      .card__side--back--2 {
        background-image: linear-gradient(to bottom right, #61e026, #2dd6ce); }
      .card__side--back--3 {
        background-image: linear-gradient(to bottom right, #23dfd5, #d830ca); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 45%;
    background-blend-mode: soft-light;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    margin-bottom: .5rem; }
    .card__picture--1 {
      background-image: linear-gradient(to bottom right, #d48b1e, #dd382c), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to bottom right, #61e026, #2dd6ce), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to bottom right, #23dfd5, #d830ca), url(../img/nat-7.jpg); }
  .card__heading {
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    width: 70%;
    padding: .5rem;
    margin: 1rem;
    text-align: center; }
    .card__heading--1 {
      background: linear-gradient(to bottom right, rgba(212, 139, 30, 0.7), rgba(221, 56, 44, 0.7));
      position: absolute;
      top: 30%;
      right: 0rem; }
      .card__heading--1 span {
        opacity: 1; }
    .card__heading--2 {
      background: linear-gradient(to bottom right, rgba(97, 224, 38, 0.7), rgba(45, 214, 206, 0.7));
      position: absolute;
      top: 30%;
      right: 0rem; }
    .card__heading--3 {
      background: linear-gradient(to bottom right, rgba(35, 223, 213, 0.7), rgba(216, 48, 202, 0.7));
      position: absolute;
      top: 30%;
      right: 0rem; }
  .card__content {
    padding: 3rem;
    font-size: 1.6rem; }
    .card__content ul {
      color: #4e4e4e;
      text-decoration: none;
      list-style: none;
      width: 80%;
      text-align: center;
      margin: 0 auto; }
      .card__content ul li {
        padding: 1rem 0; }
        .card__content ul li:not(:last-child) {
          border-bottom: 1px solid #c9c9c9; }
  .card__cta {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase; }
    .card__cta--only {
      font-weight: 300;
      font-size: 3.5rem;
      margin-bottom: 2rem; }
    .card__cta--price {
      font-size: 4rem;
      font-weight: 300; }
    .card__cta .btn {
      margin-top: 7rem; }

.composition {
  position: relative; }
  .composition__photo {
    margin-top: 1.5rem;
    width: 55%;
    position: absolute;
    box-shadow: 0.5rem 2rem 4rem rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    z-index: 5;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0rem; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0rem; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      outline: 1rem solid #047a39;
      transform: scale(1.1);
      box-shadow: 1rem 3.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 51; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.features-col-1-of-4 {
  float: left;
  display: block;
  width: calc((100% - 3*5rem ) / 4); }
  .features-col-1-of-4:not(:last-child) {
    margin-right: 5rem; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.8rem;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0.5rem 1.5rem 4rem rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  transition: all 0.2s; }
  .feature-box:hover {
    transform: scale(1.1) translateY(-1.5rem); }
  .feature-box__icon {
    background-image: linear-gradient(to top right, #ee0034, #ff9900);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    color: transparent;
    font-size: 5rem; }
  .feature-box__text--heading {
    font-size: 1.5rem;
    margin-bottom: 1rem; }

.form__group:not(:last-child) {
  margin-bottom: 3rem; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 3px;
  transition: all 0.2s;
  border-bottom: 3px solid transparent;
  display: block;
  width: 80%; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  @media (min-width: tab-port) {
    .form__input {
      width: 100%; } }
  .form__input:invalid {
    outline: none; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #047a39; }
    .form__input:focus::-webkit-input-placeholder {
      color: rgba(78, 78, 78, 0.7); }
    .form__input:focus:invalid {
      border-bottom: 3px solid orange; }
  .form__input::-webkit-input-placeholder {
    color: rgba(78, 78, 78, 0.9); }

.form__label {
  display: block;
  font-size: 1.3rem;
  margin-top: 0.7rem;
  margin-left: 2rem;
  transition: all 0.2s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-input {
  display: none; }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 37.5em) {
    .form__radio-group {
      width: 100%; }
      .form__radio-group:not(:last-child) {
        margin-bottom: 2rem; } }
  @media (min-width: phone) {
    .form__radio-group {
      width: 100%; }
      .form__radio-group:not(:last-child) {
        margin-bottom: 2rem; } }

.form__radio-label {
  text-transform: capitalize;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem; }

.form__radio-btn {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  border: 5px solid #38b138;
  border-radius: 100%;
  position: absolute;
  top: -.3rem;
  left: 0; }
  .form__radio-btn::after {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-color: #38b138;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1; }

@media (max-width: 37.5em) {
  .form-btn {
    margin-top: 1rem; } }

@media (min-width: phone) {
  .form-btn {
    margin-top: 1rem; } }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup__content {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.2;
    background-color: #fff;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s 0.1s; }
  .popup__left {
    width: 33.3333333%;
    float: left; }
  .popup__right {
    width: 66.6666667%;
    float: left;
    padding: 3rem 7rem; }
  .popup__img {
    display: block;
    width: 110%; }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #ddd;
    hyphens: auto; }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 3%;
    right: 3%;
    display: inline-block;
    color: #38b138;
    text-decoration: none;
    font-size: 5rem;
    transition: all 0.3s; }
  .popup__close:hover {
    transform: rotate(180deg);
    color: #047a39; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }

@media (max-width: 56.25em) {
  .popup__content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.2;
    background-color: #fff;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s 0.1s; }
  .popup__left {
    width: 100%;
    float: none; }
  .popup__right {
    width: 100%;
    float: none;
    padding: 3rem 7rem; }
  .popup__img {
    display: block;
    width: 50%;
    float: left;
    padding-bottom: 2.5rem;
    -aspect-ratio: 1 / 1;
    aspect-ratio: 1 / 1; }
  .popup__text {
    font-size: 1.5rem;
    column-gap: 3rem; } }

@media (min-width: tab-port) {
  .popup__content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.2;
    background-color: #fff;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s 0.1s; }
  .popup__left {
    width: 100%;
    float: none; }
  .popup__right {
    width: 100%;
    float: none;
    padding: 3rem 7rem; }
  .popup__img {
    display: block;
    width: 50%;
    float: left;
    padding-bottom: 2.5rem;
    -aspect-ratio: 1 / 1;
    aspect-ratio: 1 / 1; }
  .popup__text {
    font-size: 1.5rem;
    column-gap: 3rem; } }

@media (max-width: 37.5em) {
  .popup__content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.2;
    background-color: #fff;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s 0.1s; }
  .popup__left {
    width: 0%;
    float: none;
    visibility: hidden; }
  .popup__right {
    width: 100%;
    float: none;
    padding: 3rem 7rem; }
  .popup__img {
    display: block;
    width: 50%;
    float: left;
    padding-bottom: 2.5rem;
    -aspect-ratio: 1 / 1;
    aspect-ratio: 1 / 1; }
  .popup__text {
    font-size: 1.5rem;
    column-gap: 3rem; } }

@media (min-width: phone) {
  .popup__content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.2;
    background-color: #fff;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s 0.1s; }
  .popup__left {
    width: 0%;
    float: none;
    visibility: hidden; }
  .popup__right {
    width: 100%;
    float: none;
    padding: 3rem 7rem; }
  .popup__img {
    display: block;
    width: 50%;
    float: left;
    padding-bottom: 2.5rem;
    -aspect-ratio: 1 / 1;
    aspect-ratio: 1 / 1; }
  .popup__text {
    font-size: 1.5rem;
    column-gap: 3rem; } }

.reviews {
  padding: 5rem;
  padding-left: 7.8rem;
  background-color: rgba(255, 255, 255, 0.55);
  width: 65%;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.25);
  transform: skewX(-15deg);
  font-size: 1.6rem; }
  @media (max-width: 37.5em) {
    .reviews {
      transform: skewX(0); } }
  @media (min-width: phone) {
    .reviews {
      transform: skewX(0); } }
  .reviews__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(45% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-2.8rem) skewX(15deg); }
    @media (max-width: 37.5em) {
      .reviews__shape {
        transform: translateX(-2.8rem) skewX(0); } }
    @media (min-width: phone) {
      .reviews__shape {
        transform: translateX(-2.8rem) skewX(0); } }
  .reviews h3 {
    transform: skewX(15deg); }
    @media (max-width: 37.5em) {
      .reviews h3 {
        transform: skewX(0); } }
    @media (min-width: phone) {
      .reviews h3 {
        transform: skewX(0); } }
  .reviews p {
    transform: skewX(15deg); }
    @media (max-width: 37.5em) {
      .reviews p {
        transform: skewX(0); } }
    @media (min-width: phone) {
      .reviews p {
        transform: skewX(0); } }
  .reviews__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.15);
    background-position: left;
    transition: all 0.2s; }
  .reviews__caption {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, 10%);
    opacity: 0;
    text-align: center;
    font-size: 2rem;
    transition: all 0.2s; }
  .reviews:hover .reviews__caption {
    transform: translate(-50%, -50%);
    opacity: 100%; }
  .reviews:hover .reviews__image {
    filter: blur(3px) brightness(80%);
    transform: translateX(-4rem) scale(1); }
  .reviews:not(:last-child) {
    margin-bottom: 8rem; }

.footer {
  background-color: #252525;
  padding: 10rem;
  font-size: 1.4rem;
  color: #b8b8b8; }
  .footer__col-1-of-2 {
    float: left;
    width: calc((100% - 5rem)/2); }
    .footer__col-1-of-2:not(:last-child) {
      margin-right: 5rem; }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 15rem;
    margin-bottom: 5rem; }
  .footer__navigation {
    display: inline-block;
    padding-top: 2.3rem;
    border-top: 1px solid #5e5e5e; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        text-align: center;
        width: 100%; } }
    @media (min-width: tab-port) {
      .footer__navigation {
        text-align: center;
        width: 100%; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #dddddd;
    text-decoration: none;
    transition: all 0.2s;
    display: inline-block;
    text-transform: uppercase; }
  .footer__link:hover {
    color: #38b138;
    transform: rotate(7deg) scale(1.3);
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.7); }
  .footer__copyright {
    display: block;
    padding-top: 2.3rem;
    border-top: 1px solid #5e5e5e;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        text-align: center;
        float: none;
        width: 100%; } }
    @media (min-width: tab-port) {
      .footer__copyright {
        text-align: center;
        float: none;
        width: 100%; } }

.row {
  max-width: 117rem;
  margin: 0 auto;
  margin-bottom: 6rem; }
  @media (max-width: 75em) {
    .row {
      max-width: 85vw; } }
  @media (min-width: tab-land) {
    .row {
      max-width: 85vw; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 70vw; } }
  @media (min-width: tab-port) {
    .row {
      max-width: 70vw; } }
  .row:last-child {
    margin-bottom: 0; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
      @media (min-width: tab-port) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    @media (min-width: tab-port) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 4rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*4rem)/3); }
  .row .col-2-of-3 {
    width: calc((2/3)*(100% + 4rem) - 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*4rem)/4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3*4rem)/4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*4rem)/4) + 2*4rem); }

.header {
  background-image: linear-gradient(to right bottom, rgba(56, 177, 56, 0.733), rgba(4, 122, 57, 0.733)), url("../img/hero.jpg");
  height: 90vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative; }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }
  @media (min-width: tab-port) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }
  .header .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header .logo-box .logo {
      height: 3.5rem;
      transition: all 0.2s; }
      .header .logo-box .logo:hover {
        transform: scale(1.3); }
  .header .header-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__check-box {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  background-color: #fff;
  display: block;
  border-radius: 100%;
  position: fixed;
  top: 5rem;
  right: 6rem;
  z-index: 60;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s; }
  @media (max-width: 56.25em) {
    .navigation__button {
      height: 6rem;
      width: 6rem;
      top: 3.5rem;
      right: 4.5rem; } }
  @media (min-width: tab-port) {
    .navigation__button {
      height: 6rem;
      width: 6rem;
      top: 3.5rem;
      right: 4.5rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  background: radial-gradient(#38b138, #047a39);
  border-radius: 100%;
  position: fixed;
  top: 5.5rem;
  right: 6.5rem;
  z-index: 50;
  transition: all 0.5s ease-in; }
  @media (max-width: 56.25em) {
    .navigation__background {
      height: 4rem;
      width: 4rem;
      top: 4rem;
      right: 5rem; } }
  @media (min-width: tab-port) {
    .navigation__background {
      height: 4rem;
      width: 4rem;
      top: 4rem;
      right: 5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__items:not(:last-child) {
  margin-bottom: 2.5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 250%;
  transition: all 0.3s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem; }

.navigation__link:hover, .navigation__link:active {
  color: #047a39;
  background-position: 100%;
  transform: scale(1.05) translateX(1.5rem); }

.navigation__check-box:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__check-box:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1; }

.navigation .nav__icon {
  margin-top: 2.5rem;
  font-size: 1.3rem;
  transition: all 0.25s;
  text-transform: uppercase; }
  @media (max-width: 56.25em) {
    .navigation .nav__icon {
      font-size: 1.1rem; } }
  @media (min-width: tab-port) {
    .navigation .nav__icon {
      font-size: 1.1rem; } }

.navigation__button:hover {
  color: #fff;
  background: #424242; }

.navigation__button:hover > .nav__icon {
  transform: scale(1.2) rotate(360deg); }

.section-row::after {
  content: "";
  display: table;
  clear: both; }

.section-row--col-1-of-2 {
  float: left;
  width: calc((100% - 5rem)/2); }
  .section-row--col-1-of-2:not(:last-child) {
    margin-right: 5rem; }

.row .section--col-1-of-3 {
  float: left;
  width: calc((100% - 2*5rem)/3); }
  .row .section--col-1-of-3:not(:last-child) {
    margin-right: 5rem; }

.section-about {
  background-color: #f0f0f0;
  padding: 25rem 15rem;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 35rem 15rem 50rem 15rem; } }
  @media (min-width: tab-port) {
    .section-about {
      padding: 35rem 15rem 50rem 15rem; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 30rem 15rem 40rem 15rem; } }
  @media (min-width: phone) {
    .section-about {
      padding: 30rem 15rem 40rem 15rem; } }

.features-bg {
  background-size: cover;
  margin-top: -8rem;
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, rgba(56, 177, 56, 0.75), rgba(4, 122, 57, 0.75)), url(../img/nat-4.jpg);
  transform: skewY(-7deg); }

.section-tours {
  margin-top: -8rem;
  background-color: #f0f0f0;
  padding: 25rem 0 15rem; }

.section-reviews {
  padding: 15rem 0;
  position: relative; }

.section-booking {
  background-image: linear-gradient(to bottom right, #38b138, #047a39);
  padding: 15rem 0; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50.5%), url(../img/nat-10.jpg);
  background-size: cover;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 1rem 3rem 6rem rgba(0, 0, 0, 0.5); }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 75%; } }
    @media (min-width: tab-land) {
      .book__form {
        width: 75%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
    @media (min-width: tab-port) {
      .book__form {
        width: 100%; } }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 75%, transparent 75.5%), url(../img/nat-10.jpg); } }
  @media (min-width: tab-land) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 75%, transparent 75.5%), url(../img/nat-10.jpg); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), url(../img/nat-10.jpg); } }
  @media (min-width: tab-port) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), url(../img/nat-10.jpg); } }
