.header {
    background-image: linear-gradient(to right bottom
    ,rgba($color-green-light, 0.733), rgba($color-green-dark, 0.733))
    , url('../img/hero.jpg');
    height: 90vh;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0,100% 70vh, 0 100%);
    position: relative;

    @include respond(tab-port){
        clip-path: polygon(0 0, 100% 0,100% 80vh, 0 100%);
    }

    .logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    
        .logo {
            height: 3.5rem;
            transition: all 0.2s;

            &:hover{
                transform: scale(1.3);
            }
        }
    }
    
    
    
    .header-container{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}