.composition{
    position: relative;

    &__photo{
        margin-top: 1.5rem;
        width: 55%;
        position: absolute;
        box-shadow: 0.5rem 2rem 4rem rgba($color-black,0.5);
        transition: all 0.2s;
        z-index: 5;
        outline-offset: 2rem;
    

        &--p1{
            top: -2rem;
            left: 0rem;
        }

        &--p2{
            top: 2rem;
            right: 0rem;
        }
        
        &--p3{
            top: 10rem;
            left: 20%;
        }

        &:hover{
            outline: 1rem solid $color-green-dark;
            transform: scale(1.1);
            box-shadow: 1rem 3.5rem 4rem rgba($color-black,0.6);
            z-index: 51;
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(0.9);
    }
}