.reviews{
    padding: 5rem;
    padding-left: 7.8rem;
    background-color: rgba($color-white, 0.55);
    width: 65%;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 2rem 6rem rgba($color: $color-black, $alpha: 0.25);
    transform: skewX(-15deg);
    font-size: 1.6rem;

    @include respond(phone){
        transform: skewX(0);
    }
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;

    &__shape{
        height: 15rem;
        width: 15rem;
        float: left;
        position: relative;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);

        clip-path: circle(45% at 50% 50%);
        -webkit-clip-path:circle(50% at 50% 50%);
        transform: translateX(-2.8rem) skewX(15deg);

        @include respond(phone){
            transform: translateX(-2.8rem) skewX(0);
        }
    }

    h3{
        transform: skewX(15deg);
        @include respond(phone){
            transform: skewX(0);
        }
    }

    p{
        transform: skewX(15deg);
        
        @include respond(phone){
            transform: skewX(0);
        }
    }

    &__image{
        height: 100%;
        transform: translateX(-4rem) scale(1.15);
        background-position: left;
        transition: all 0.2s;
    }

    &__caption{
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, 10%);
        opacity: 0;
        text-align: center;
        font-size: 2rem;
        transition: all 0.2s;
    }

    &:hover &__caption{
        transform: translate(-50%, -50%);
        opacity: 100%; 
    }

    &:hover &__image{
        filter: blur(3px) brightness(80%);
        transform: translateX(-4rem) scale(1);
    }

    &:not(:last-child){
        margin-bottom: 8rem;
    }
}