*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 3rem;
    color: $color-grey;
    box-sizing: border-box;
}