//Colors
$color-green-light:rgb(56, 177, 56);
$color-green-dark:rgb(4, 122, 57);
$color-grey:rgb(78, 78, 78);
$color-white:#fff;
$color-black:#000;

//Grid
$grid-width: 117rem;
$grid-width-small: 70vw;
$margin-btm: 6rem;
$margin-horz: 4rem;
$color-coloumn: linear-gradient(to top right ,#ee0034, #ff9900);

//Section about
$section-bg-col : #f0f0f0;
$gutter-width: 5rem;


$feature-row-gutter : 5rem;

//card
$card-1-grad:linear-gradient(to bottom right, rgb(212, 139, 30),rgb(221, 56, 44));
$card-2-grad:linear-gradient(to bottom right, rgb(97, 224, 38),rgb(45, 214, 206));
$card-3-grad:linear-gradient(to bottom right, rgb(35, 223, 213),rgb(216, 48, 202));